@model ConnectDB.Models.Student

<h2>Chi tiết sinh viên</h2>

<p><strong>Mã SV:</strong> @Model.StudentCode</p>
<p><strong>Họ tên:</strong> @Model.FullName</p>
<p><strong>Ngày sinh:</strong> @Model.Birthday.ToShortDateString()</p>

<a href="/Student/Edit/@Model.Id">Sửa</a> |
<a href="/Student">Quay lại</a>