@model ConnectDB.Models.Employee

<h2>Thêm nhân viên</h2>

<form method="post">
    <div>
        Mã NV: <input asp-for="EmployeeCode" />
    </div>
    <div>
        Họ tên: <input asp-for="FullName" />
    </div>
    <div>
        Ngày sinh: <input asp-for="Birthday" type="date" />
    </div>
    <button type="submit">Lưu</button>
</form>
