@model ConnectDB.Models.Employee

<h2>Sửa nhân viên</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        Mã NV:
        <input asp-for="EmployeeCode" />
        <span asp-validation-for="EmployeeCode"></span>
    </div>

    <div>
        Họ tên:
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>

    <div>
        Ngày sinh:
        <input asp-for="Birthday" type="date" />
    </div>

    <button type="submit">Cập nhật</button>
</form>

<a href="/Employee">Quay lại</a>
